* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.header-container {
    justify-content: center;
    align-items: center;
}

.links {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 5px;
}

.main-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

.main-content {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 40px;

}

.main-left {
    width: 500px;
}

.logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.secondary-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.secondary-heading {
    text-align: center;
    padding: 40px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.card {
    display: block;
    width: 200px;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 100px;
}

blockquote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300px;
    text-align: center;
}

cite {
    text-align: right;
}

button {
    background-color: #3882f6;
    padding: 10px;
    color: #e5e7eb;
    border-radius: 8px;
    width: 150px;
    font-weight: bold;
    font-size: 18px;
}

.cta-button {
    border-color: #e5e7eb;
    border-style: solid;
}

.main-image {
    width: 600px;
    height: 300px;
}

.secondary-image {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.cta-container {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 100px;
}

.cta-primary {
    font-size: 24px;
    color: #f9faf8;
}

.cta-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 40px;
}