* {
    font-family: "Roboto";
    margin: 0, auto;
    padding: 0;
}

.header {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8
}

.main-secondary-text {
    font-size: 18px;
    color: #e5e7eb
}

.main-content {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

}

.logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.secondary-content {
    display: flex;
}

.secondary-heading {
    text-align: center;
}
.card {
    display: block;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300px;
}

button {
    background-color: #3882f6;
    padding: 10px;
    color:#e5e7eb;
    border-radius: 8px;
    width: 100px;
}

.main-image {
    width: 600px;
    height: 300px;
}

.secondary-image {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.signup-section {
    background-color: #3882f6;
}

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
}